*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Nova Square, Rajdhani
}

nav{  
    width: 100%;
    display: flex;
    justify-content: center;

}
#logo{
    width: 250px;
    height: 120px;
}
.mont{ ;

    display: flex;
    justify-content: center;
}

.indirizzi{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
li{
    list-style: none;
}

.sfondo {
    position: relative;
    
    background-image: url(img/mountains.png),
    linear-gradient(
        rgba( 255, 255, 255, 1),
        rgba(255, 255, 255, 0)
        ),
        url(img/switzerland-862870_1920.jpg);
        background-position:center, center;
        background-size: cover, cover;
    }

        
           
        
         

h1 {
    font-size: 80px;
    letter-spacing: 70px;
    color: darkred;
}



